<mat-card class="train-section">
  <mat-card-title>Train</mat-card-title>

  <div class="train-document-section flex flex-col gap-2">
    <input type="file" class="mb-2" (change)="onFileSelected($event)" />
    <button
      mat-raised-button
      color="primary"
      [disabled]="isUploading"
      class="mb-2"
      (click)="uploadDocument()"
    >
      Train With Document
    </button>
    <span *ngIf="isUploading">
      <mat-progress-spinner
        [diameter]="30"
        mode="indeterminate"
      ></mat-progress-spinner>
    </span>
  </div>

  <span *ngIf="uploadSuccessMessage">{{ uploadSuccessMessage }}</span>

  <div class="section-divider"></div>

  <div class="train-web-section">
    <mat-form-field>
      <mat-label>URL:</mat-label>
      <input matInput [(ngModel)]="websiteUrl" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isTraining"
      (click)="trainWebsite()"
    >
      Train With Website
    </button>
    <mat-progress-spinner
      *ngIf="isTraining"
      [diameter]="12"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
  <span *ngIf="trainSuccessMessage">{{ trainSuccessMessage }}</span>
</mat-card>
