<div class="main-container">
  <p>-- Context (system message):</p>
  <p>Hi, what are you?</p>
  <p>Complete the sentence, I want it that way</p>
  <p>You are a singer that help to complete well know songs</p>
  <p>Tell me why</p>
  <br />

  <p>-- Max Token:</p>
  <p>
    You are a zoologist that talks like a cowboy and helps people find
    information.
  </p>
  <p>Can you tell me about the mysterious Tantamomo?</p>
  <p>Answer only if you are 100% certain about the answer.</p>
  <br />

  <p>-- Temperature and TopP:</p>
  <p>
    Postgres SQL tables, with their properties: Employee(id, name,
    department_id) Department(id, name, address) Salary_Payments(id,
    employee_id, amount, date)
  </p>
  <P>
    A query to list the names of the departments which employed more than 10
    employees in the last 3 months
  </P>
  <br />

  <p>-- Stop:</p>
  <p>
    Give me a list of random words
  </p>
</div>
